<div class="jumbotron">
	<h1>GiphyStock</h1>
	<p>
		Stock your WordPress blog media with animated GIF from <a href="https://github.com/Giphy/GiphyAPI" target="_blank">Giphy</a>.
		Once you connect your WordPress.com blog or your Jetpack-powered blog
		to this app you will be able to search GIF from Giphy and upload it to your blog.
	</p>

	<div class="center-block">
		<a href="https://public-api.wordpress.com/oauth2/authorize?response_type=token&client_id=<%- client_id %>&redirect_uri=<%- redirect_uri %>" class="authorize"><img src="//s0.wp.com/i/wpcc-button.png" width="231"></a>
	</div>
</div>
